<p id="notice"><%= notice %></p>

<h1>Users</h1>
<%= render :partial=> 'common/search', locals: {placeholder: 'search for users', search_url: url_for(users_path(format: :js))} %>
<div id="user_list">
  <%= render :partial=>'user_list' %>
</div>
<br>

<%= link_to 'New User', new_user_path %>
