<h1>Car</h1>
<%=  render :partial=> 'common/search', locals: {placeholder: 'search for cars', search_url: url_for(cars_path(format: :js))} %>
<div id="car_list">
<%=  render :partial=> 'car_list' %> 
</div>
<br>
<%= link_to 'New Car', new_car_path %><br>